<style>
  .collage-section {
    background-color: {{ section.settings.main_color}};
    padding: {{ section.settings.padding }}px;
    width: {{ section.settings.width }}%;
  }

  .collage-container {
    height: auto;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: {{ section.settings.swap_image }};
  }

  .left-wrapper img {
    width: {{ section.settings.left_image_width }}%;
    border: {{ section.settings.left_image_border_width }}px solid {{ section.settings.left_border_color }};
  }
</style>

<section class="collage-section">
  <div class="collage-container">

      <div class="left-wrapper">
        {%- if section.settings.image_left -%}
          <img src=" {{ section.settings.image_left | img_url: 'grande' }} " alt="" width="" height="" loading="lazy">
          <p>Caption one</p>
        {%- endif -%}
      </div>
     
      <div class="right-wrapper">
        {% if section.settings.image_right %}
          <img src= " {{ section.settings.image_right | img_url: 'grande' }} " alt="" width="" height="" loading="lazy">
          <p>Caption two</p>
        {% endif %}
      </div>
  </div>
</section>


{%- schema -%}
  {
    "name": "Blog-Collage-Image",
    "settings": [

      // image left 
      {
        "type": "image_picker",
        "id": "image_left",
        "label": "Image Left"
      },

    //left image width
      {
        "type": "range",
        "id": "left_image_width",
        "label": "Left Image Width",
        "min": 0,
        "max": 1200,
        "step": 20,
        "default": 600
      },

// left wrapper color select
      {
        "type": "select",
        "id": "left_border_color",
        "options": [
          {
            "value": "#D6E282",
            "label": "Light Yellow"
          },
          {
            "value": "#fff",
            "label": "white"
          },
          {
            "value": "#BCE29E",
            "label": "Light Green"
          },
          {
            "value": "#E282D6",
            "label": "Violate"
          }, {
            "value": "#000",
            "label": "Black"
          }
        ],
        "default": "#fff",
        "label": "Left image border color"
      },

// left image border width 
      {
        "type": "range",
        "id": "left_image_border_width",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 0,
        "label": "left image border width"
      },

// image right
      {
        "type": "image_picker",
        "id": "image_right",
        "label": "Image Right"
      }, {
        "type": "range",
        "id": "padding",
        "label": "Padding",
        "min": 0,
        "max": 100,
        "unit": "px",
        "step": 1,
        "default": 20
      }, {
        "type": "range",
        "id": "width",
        "label": "Width",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%",
        "default": 100
      },

// select color 
      {
        "type": "select",
        "id": "main_color",
        "options": [
          {
            "value": "#F2F2F2",
            "label": "Light Gray"
          },
          {
            "value": "#fff",
            "label": "white"
          },
          {
            "value": "#BCE29E",
            "label": "Light Green"
          },
          {
            "value": "#E282D6",
            "label": "Violate"
          }, {
            "value": "#000",
            "label": "Black"
          }
        ],
        "default": "#E282D6",
        "label": "background color"
      },

// swap image 
      {
        "type": "select",
        "id": "swap_image",
        "options": [
          {
            "value": "row-reverse",
            "label": "reverse"
          }, {
            "value": "row",
            "label": "normal"
          }

        ],
        "default": "row",
        "label": "Swap image "
      }

    ],
    "presets": [
      {
        "category": "content",
        "name": "blog-collage-image"
      }
    ]

  }
{%- endschema -%}