<style>
  .blog-container {
    width: 100%;
    background-color: crimson;
  }

  .blog-header .blog-title {
    text-align: center;
    font-size: {{ section.settings.header_font_size }}px;
    font-weight: bold;
    color: {{ section.settings.header_font_color }};
    padding: {{ section.settings.header_padding_TB }}px {{ section.settings.header_padding_LR }}px;
  }

  .blog-post-time {
    margin-top: -50px;
    text-align: center;
    font-size: {{ section.settings.time_font_size }}px;
    color: {{ section.settings.time_font_color }};
    padding-bottom: {{ section.settings.time_padding_B }}px;
    padding-left: {{ section.settings.time_padding_LR }}px;
    padding-right: {{ section.settings.time_padding_LR }}px;
  }

  .blog-post-time a {
    color: {{ section.settings.time_font_color }};
  }



  .single_style_para {
    text-align: center;
  }

  {% for block in section.blocks %}
    .double_style_para-{{ block.id }}{
      display: flex;
      padding: 20px {{ block.settings.para_double_padding_LR }}px;
      text-align: justify;
      font-size: {{ block.settings.para_double_font_size }}px;
      color: {{ block.settings.para_double_font_color }};
    }
  {% endfor %}
  .d-para {
    padding: 30px;
  }

  .para-bold {
    text-align: justify;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-size: {{ section.settings.para_bold_font_size }}px;
    font-weight: {{ section.settings.para_bold }};
    padding: 0 {{ section.settings.para_padding_LR }}px;
  }
  
  {% for block in section.blocks %}
    #para-thin-{{ block.id }}{
      padding: 0 {{ block.settings.para_thin_padding_LR }}px;
      text-align: justify;
      font-size: {{ block.settings.para_thin_font_size }}px;
      color: {{ block.settings.para_thin_font_color }};
    }
  {% endfor %}
</style>
<section>
  <div class="blog-container">
    <div class="blog-header">
      <h1 class="blog-title">{{ section.settings.header_title }}</h1>
      <p class="blog-post-time">Posted on: 13/10/2022 – Words by Lizzie Posted in Integrity at
        <a class="header-link" href="#">Wax</a>,<a class="header-link" href="#">Fabrics</a>
        ,
        <a class="header-link" href="#">Cool Stuff</a>
      </p>
    </div>

    {%- comment -%}
      single para
    {%- endcomment -%}
    <div class="single_style_para">
      <p class="para-bold">
        {{ section.settings.para_richtext }}
      </p>
      {%- comment -%}
        ___________single_style_para block________
      {%- endcomment -%}
      {%- for item in section.blocks -%}
        {% if item.type == "text" %}
          <p class="para-thins" id="para-thin-{{item.id}}">
            {{ item.settings.para_thin }}
          </p>
        {% endif %}
      {% endfor %}
    </div>

    {% for item in section.blocks %}
      {% if item.type == "double_text" %}
        {%- comment -%}
          double para block
        {%- endcomment -%}
        <div class="double_style_para-{{item.id}}">
          <div class="d-para">
            <p>
              {{ item.settings.para_left }}
            </p>
          </div>

          <div class="d-para">
            <p>
              {{ item.settings.para_right }}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</section>

{% schema %}
  {
    "name": "Blog",
    "settings": [

      // _________________________HEADER PART SETTINGS_________________________________ 

// Header title add 
      {
        "type": "text",
        "id": "header_title",
        "label": "Header Title",
        "default": "Journal Title, It’s A Pretty Long One Too."
      },

// header title font size
      {
        "type": "range",
        "id": "header_font_size",
        "min": 30,
        "max": 80,
        "step": 5,
        "unit": "px",
        "label": "Header Title Font Size",
        "default": 50
      },

// header title padding bottom 
      {
        "type": "range",
        "id": "header_padding_TB",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "Header Title Padding Bottom",
        "default": 50
      },

// header title padding left-right 
      {
        "type": "range",
        "id": "header_padding_LR",
        "min": 0,
        "max": 500,
        "step": 50,
        "unit": "px",
        "label": "Header Title Padding Left-Right",
        "default": 250
      },

// header font color select
      {
        "type": "select",
        "id": "header_font_color",
        "options": [
          {
            "value": "#395144",
            "label": "Dark Green"
          }, {
            "value": "#000",
            "label": "black"
          }, {
            "value": "#BCE29E",
            "label": "Light Green"
          }, {
            "value": "#fff",
            "label": "white"
          }
        ],
        "default": "#000",
        "label": "Header Font Color"
      },

// _________________________TIME PART SETTINGS_________________________________

// time font size
      {
        "type": "range",
        "id": "time_font_size",
        "min": 10,
        "max": 30,
        "step": 5,
        "unit": "px",
        "label": "Time Font Size",
        "default": 15
      },

// time padding top-bottom 
      {
        "type": "range",
        "id": "time_padding_B",
        "min": 0,
        "max": 300,
        "step": 10,
        "unit": "px",
        "label": "Time Padding Bottom",
        "default": 100
      },

// time padding left-right 
      {
        "type": "range",
        "id": "time_padding_LR",
        "min": 0,
        "max": 400,
        "step": 50,
        "unit": "px",
        "label": "Time Padding Left-Right",
        "default": 250
      },

// time font color select
      {
        "type": "select",
        "id": "time_font_color",
        "options": [
          {
            "value": "#395144",
            "label": "Dark Green"
          }, {
            "value": "#000",
            "label": "black"
          }, {
            "value": "#BCE29E",
            "label": "Light Green"
          }, {
            "value": "#fff",
            "label": "white"
          }
        ],
        "default": "#000",
        "label": "Time Font Color"
      },


// _________________________PARA PART SETTINGS_________________________________

// para richtext setting 
      {
        "type": "text",
        "id": "para_richtext",
        "label": "Para Bold",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel tincidunt luctus, nisl nisl aliquam lorem, nec aliquam nisl nisl sit amet lorem. Sed euismod, nisl vel tincidunt luctus, nisl nisl aliquam lorem, nec aliquam nisl nisl sit amet lorem."
      },

// para_bold_font_size
      {
        "type": "range",
        "id": "para_bold_font_size",
        "min": 10,
        "max": 30,
        "step": 5,
        "unit": "px",
        "label": "Paragraph Bold Font Size",
        "default": 15
      },

// para bold font weight
      {
        "type": "select",
        "id": "para_bold",
        "options": [
          {
            "value": "bold",
            "label": "Bold"
          }, {
            "value": "normal",
            "label": "Normal"
          }
        ],
        "default": "bold",
        "label": "Para Bold Font Weight"
      },

// para bold padding left-right 
      {
        "type": "range",
        "id": "para_padding_LR",
        "min": 0,
        "max": 400,
        "step": 50,
        "unit": "px",
        "label": "Paragraph-Bold Padding Left-Right",
        "default": 250
      },

// change url 
      {
        "type": "url",
        "id": "btn_url",
        "label": "Add Button URL"
      }
    ],
    "blocks": [

      {
        "type": "text",
        "name": "Paragraph Thin",
        "settings": [
          {
            "type": "text",
            "id": "para_thin",
            "label": "Paragraph Thin",
            "default": "Write a thin paragraph here."
          },

// para thin padding LR
          {
            "type": "range",
            "id": "para_thin_padding_LR",
            "min": 0,
            "max": 400,
            "step": 50,
            "unit": "px",
            "label": "Paragraph-Thin Padding Left-Right",
            "default": 250
          },

// para thin font color
          {
            "type": "select",
            "id": "para_thin_font_color",
            "options": [
              {
                "value": "#395144",
                "label": "Dark Green"
              }, {
                "value": "#000",
                "label": "black"
              }, {
                "value": "#BCE29E",
                "label": "Light Green"
              }, {
                "value": "#fff",
                "label": "white"
              }
            ],
            "default": "#000",
            "label": "Paragraph-Thin Font Color"
          },

// para thin font size
          {
            "type": "range",
            "id": "para_thin_font_size",
            "min": 10,
            "max": 30,
            "step": 2,
            "unit": "px",
            "label": "Paragraph-Thin Font Size",
            "default": 14
          }
        ]
      }, {
        "type": "double_text",
        "name": "Double Paragraph",
        "settings": [
          {
            "type": "text",
            "id": "para_left",
            "label": "Double Paragraph one",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel tincidunt luctus, nisl nisl aliquam lorem, nec aliquam nisl nisl sit amet lorem. Sed euismod, nisl vel tincidunt luctus, nisl nisl aliquam lorem, nec aliquam nisl nisl sit amet lorem.."
          }, {
            "type": "text",
            "id": "para_right",
            "label": "Double Paragraph two",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel tincidunt luctus, nisl nisl aliquam lorem, nec aliquam nisl nisl sit amet lorem. Sed euismod, nisl vel tincidunt luctus, nisl nisl aliquam lorem, nec aliquam nisl nisl sit amet lorem.."
          },

// para double padding LR
          {
            "type": "range",
            "id": "para_double_padding_LR",
            "min": 0,
            "max": 200,
            "step": 10,
            "unit": "px",
            "label": "Paragraph-Double Padding Left-Right",
            "default": 20
          },

          // para double font color
          {
            "type": "select",
            "id": "para_double_font_color",
            "options": [
              {
                "value": "#395144",
                "label": "Dark Green"
              }, {
                "value": "#000",
                "label": "black"
              }, {
                "value": "#BCE29E",
                "label": "Light Green"
              }, {
                "value": "#fff",
                "label": "white"
              }
            ],
            "default": "#000",
            "label": "Paragraph-Double Font Color"
          },

          //para double font size
          {
            "type": "range",
            "id": "para_double_font_size",
            "min": 10,
            "max": 40,
            "step": 2,
            "unit": "px",
            "label": "Paragraph-Double Font Size",
            "default": 14
          }

        ]
      }

    ],
    "presets": [
      {
        "category": "content",
        "name": "Blog",
        "blocks": [
          {
            "type": "text"
          }, {
            "type": "double_text"
          }
        ]
      }
    ]
  }
{% endschema %}